# .env
# Database configuration
DATABASE_URL="postgresql://user:password@hostname:5432/newcreation?schema=public"

# App settings
NEXT_PUBLIC_API_URL="http://localhost:3001"

# Any additional secrets...
